<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [1]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [2]:
name = 'Robin'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Sidekick!

In [3]:
name = 'Jayden'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello World!

In [1]:
name = 'Test'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Test':
    print('Hello Test!')
else:
    print('Hello World!')

Hello Test!

In [2]:
name = 'Batman'
universe = 'DC'

if name == 'Batman':
    print('Processing Batman')

    if universe == 'DC':
        print('Batman is the best in DC')
    else:
        print('Hello Batman')

Processing Batman
Batman is the best in DC

In [5]:
name = 'Batman'
universe = 'DC'

if name == 'Batman' and universe == 'DC':
    print('Processing Batman')
    print('Batman is the best in DC')
else:
    print('Hello Batman')

Processing Batman
Batman is the best in DC

In [10]:
name = 'Batman1'
universe = 'DC'

if name == 'Batman' or universe == 'DC':
    print('Processing Batman')
    print('Batman is the best in DC')
else:
    print('Hello Batman')

Processing Batman
Batman is the best in DC

# 2 Asking questions

In [4]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'brocoli', 'kale']

In [5]:
'apple' in fruits

True

In [6]:
'peach' in fruits

False

In [7]:
'peach' not in fruits

True

In [8]:
('apple' in fruits) and ('celery' in vegetables)

True

In [9]:
('apple' in fruits) or ('celery' in vegetables)

True

In [10]:
'app' in 'apple'

True

'not', 'in', 'and', 'or' are Python keywords that are useful in asking questions

In [ ]:
'apples' > 'oranges' # Python compares the unicode value of the first letter 'a' is 97 while 'o' is 111

False

In [ ]:
'zebra' > 'apples' #

True

## 2.1 Asking Math questions

In [2]:
x = 6
(x>5) and (x<15) # Easier to read with brackets

True

In [3]:
5 < x < 15 # Called operator chaining

True

# 3 Python stores information in different formats or types

In [ ]:
x = int(1.234)  # Converting a float into an integer is called casting
print(x, type(x))

1 <class 'int'>

In [19]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

In [20]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [ ]:
x = complex(1.234) 
print(x, type(x))

(1.234+0j) <class 'complex'>

In [4]:
x = '1.234' # x is a string
print(x, type(x))

1.234 <class 'str'>

In [ ]:
x = float(x) # x is now a decimal number as the variable changed from string to a float
print(x, type(x))   # This is called typecasting

1.234 <class 'float'>

# 4 Never compare floats directly

## 4.1 The Problem

In [ ]:
a = 0.1
a3 = 0.3
a * 3 == a3
# Mathematically, the output should show True but the computer stores these small fractions in a way that it is slightly off by a tiny fraction

False

In [7]:
f'{0.3:.17f}'

'0.29999999999999999'

## 4.2 A solution

In [8]:
eps = 1E-10
abs(a * 3 - a3) < eps

True

In [10]:
import numpy as np
np.isclose(a * 3, a3)

np.True_

# 5 Combining English and variables

In [11]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [12]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [13]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [14]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [ ]:
print(f'{text:>30}') # Aligns text to the right within a 30 character block

        Bruce Wayne is Batman.

In [17]:
print(f'{text:>60}') # Aligns text to the right within a 60 character block

                                      Bruce Wayne is Batman.

In [ ]:
print(f'{text:^30}') # Centers the text

    Bruce Wayne is Batman.

In [19]:
print(f'{text:<30}') # Aligns text to the left with <

Bruce Wayne is Batman.

In [ ]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

# '.6f' displays the number in decimal notation to 6 places

The cube of pi to 6 decimal places is 31.006277

In [ ]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

# '.6e' displays the number in scientific notation

The cube of pi to 6 decimal places is 3.100628e+01

## 5.1 Structure of f-strings

f-string structure: {X:>0Y.ZW}

In [27]:
variable = 123
print(f'{variable:>30}')

                           123

# 6 Escape sequences

In [ ]:
print('Line 1\n\tLine 2\n\t\tLine 3')
# '\n' means newline - moves the reamining text to the next line
# '\t' means horizontal tab

Line 1
	Line 2
		Line 3

In [ ]:
print('You\'re twenty years old.') # \' tells Python that it is a single quote and not the end of the command

You're twenty years old.

In [32]:
print('You're twenty years old.'') # This will result in an invalid syntax

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1951271858.py, line 1)

In [34]:
print('A\\B\\C') # To have an actual backslash, use '\\'

A\B\C

In [35]:
print('A\nB\nC')

A
B
C

In [36]:
print('A\tB\tC')

A	B	C

In [38]:
print('Jayden\nis\t\non the next line!')

Jayden
is
on the next line!

## 6.1 Self-documenting f-strings

In [1]:
x, y = 42, 24
print(f'{x=} and {y=}')

x=42 and y=24

In [4]:
x, y = 24/5, 24/5
print(f'{x=:.3f} and {y=:.6f}')

x=4.800 and y=4.800000

In [ ]:
print(f'{10 * 5 + 2=}') # for expressions & calculations

10 * 5 + 2=52

In [ ]:
print(f'{2**10=}') # for expressions & calculations

2**10=1024

In [ ]:
name = 'Batman'
print(f'{name.title()}') # for string without = sign

Batman

In [ ]:
name = 'Batman'
print(f'{name.title()=}') # for string with = sign, shows the source code

name.title()='Batman'

In [ ]:
# Lists
items = ['apple', 'banana']
print(f'{items[0]=}') # items[0] accesses the first element in the list

items[0]='apple'

In [ ]:
# Lists
items = ['apple', 'banana']
print(f'{items[1]=}')   # items[1] accesses the second element in the list

items[1]='banana'

In [ ]:
# Dictionaries 
data = {'id': 101}
print(f'{data["id"]=}') # does not use a number (in list) but use a specific key
                        # data["id"] tells Python to find the value associated with the key "id"

data["id"]=101

# 7 Computers read = from Right to Left!

In [ ]:
x = 40  # the computer takes the value 40 and assigns it to the label x
y = x + 2 # the computer first calculates x + 2 (which is 42) and then assigns the final result to y
print(y)

42

In [ ]:
y = 40
y = y + 2   # In math this equation is impossible as y cannot be equal to itself plus 2
            # But the computer reads the current value of y (which is 40) and adds 2 to get 42 and assigns and updates the variable y
print(y)

42

# 8 Shorter and Cleaner Code

In [14]:
y = 40
y = y + 2
y = 40
y += 2  # Same as y = y + 2
y

42

In [ ]:
# Addition
y = 10
y += 2  # Shorthand for Long Form Syntax y = y + 2
print(y)

12

In [19]:
# Subtraction
y -= 2
print(y)

8

In [21]:
# Multiplication
y = 10
y *= 2 # Shorthand for Long Form Syntax y = y * 2
print(y)

20

In [23]:
# Division
y = 10
y /= 2 # Shorthand for Long Form Syntax y = y / 2
print(y)

5.0

# 9 Python can be a prima-donna.

# 10 Best Practices for Scientific Computing

# 11 Looking for help

## References

## Footnotes

## More Practice

Membership Testing

In [7]:
buffer_components = ['Tris', 'EDTA', 'NaCl', 'Tween-20']

In [8]:
'NaCl' in buffer_components

True

In [9]:
'SDS' not in buffer_components

True

In [12]:
# string membership

dna_sequence = 'ATGCGTACGATCGTAG'

'ATG' in dna_sequence

True

In [ ]:
('ATG' in dna_sequence) and ('TAG' in dna_sequence)
# python checks for first motif and checks for second and confirms if both are true

True

In [15]:
x = '1.234'
x= float(x)
y = x + 1
print(y)

2.234

In [18]:
measured_concentration = 0.1 * 3
target_concentration = 0.3

print(measured_concentration == target_concentration) 
# This outputs: False

False

In [19]:
eps = 1e-10
is_equal = abs(measured_concentration - target_concentration) < eps
print(is_equal)
# This outputs: True

True

In [21]:
a = 0.1
a3 = 0.3
eps = 1e-10

# Now we check the logic
abs(a * 3 - a3) < eps

True